<%- include('../includes/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/add-product.css"> -->
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <div class="container">
                <form action="/admin/<% if(editing) { %>edit-product<% } else { %>add-product<% } %> " method="POST">
                    <!-- title -->
                    <label for="title" class="form-label">Title</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="title" value="<% if(editing) { %><%= product.title %><% } %>" name="title">
                    </div>


                    <!-- imageURL -->
                    <label for="image-url " class="form-label ">Image URL</label>
                    <div class="input-group mb-3 ">
                        <span class="input-group-text " id="basic-addon3 ">Link:- </span>
                        <input type="text " class="form-control " id="image-url " name="imageURL" aria-describedby="basic-addon3 " value="<% if(editing) { %><%= product.imageURL %><% } %>">
                    </div>
                    <!-- description -->
                    <label for="description" class="form-label">Description</label>
                    <div class="input-group mb-3">
                        <textarea class="form-control" id="description" name="description"><% if(editing) { %><%= product.description %><% } %></textarea>
                    </div>

                    <!-- price -->
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" name="price" id="price" aria-label="Amount (to the nearest Ruppee)" value="<% if(editing) { %><%= product.price %><% } %>">
                    </div>
                    <% if (editing) { %>
                        <input type="hidden" value="<%= product.id %>" name="productID">
                        <% } %>
                            <button type="button submit" class="btn <% if (editing) { %>
                        btn-outline-warning
                       <% } else { %>
                        btn-outline-primary
                           <% } %>">
                        <% if (editing) { %>
                         Update Product
                        <% } else { %>
                            Add Product
                            <% } %> 
                    </button>

                </form>
            </div>

            <%- include('../includes/end.ejs') %>