<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <div class="container" style="align-items: center;">
                <h1 class="display-6" style="text-align: center;">Reset Password</h1>
                <% if (errorMessage && errorMessage != "")  { %>
                    <div class="alert alert-danger" role="alert" style="width: 45%; margin-left: auto; margin-right: auto; text-align: center;">
                        <%= errorMessage %>
                    </div>
                    <% } else if (successMessage && successMessage != "") { %>
                        <div class="alert alert-success" role="alert" style="width: 45%; margin-left: auto; margin-right: auto; text-align: center;">
                            <%= successMessage %>
                        </div>
                        <% } %>
            </div>
            <div class="container d-flex justify-content-center">
                <div class="card border-dark mb-3 " style="width: 45%;">
                    <div class="card-body text-dark">
                        <form method="POST" action="/reset">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                            </div>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                            <button type="submit" class="btn btn-primary">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
            <%- include('../includes/end.ejs') %>